
body {
    /* feel free to update these css variables for a quick theme */

    --color1: transparent;
    --color2: transparent;
    --color3: transparent;
    --color4: transparent;
    --color5: transparent;

    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/

    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;

    font-family: 'Titillium Web', sans-serif;


}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

.sign-in {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.sign-up {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.login-page {
    background-color: hotpink;
    background-image: url(/assets/bestbois.png);
    background-blend-mode: multiply;
    background-repeat: repeat;
}

.login-page header {
    background-color: transparent;
}

.login-page footer {
    background-color: transparent;
}

.login-page section {
    background-color: black;
    box-shadow: 12px 5px 15px 5px rgb(110, 178, 218);
    border: transparent;

}

.login-page label {
    color: white;
}
.login-page h2 {
    color: white;
}

.poll-form-container {
    display: flex;
    flex-direction: column;

}


.past-polls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
    background-color: black;
    box-shadow: 12px 5px 15px 5px rgb(110, 178, 218);
    border: transparent;
    color: white;
}

#pp {
    text-align: center;

}

#vote-buttons-container {
display: flex;
align-items: center;
justify-content: space-around;
}

.option-1-stuff {
    padding: 100px;
}

.finish {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    padding: 100px;

}

.current-poll-container {
    display: flex;

}

.poll {
    background-color: hotpink;
    background-image: url(/assets/fur.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;

}